<template>
  <div class="card">
    <div class="card-body">
      <!-- <h2 class="card-title"></h2> -->
    </div>

    <div class="card-img-bottom">
      <canvas id="fooCanvas" count="2" />

      <chartjs-bar
      v-for="category in categories"
      v-bind:key="category.id"
      :backgroundcolor="category.bgColor"
      :beginzero="beginZero"
      :bind="true"
      :bordercolor="category.borderColor"
      :data="category.data"
      :datalabel="category.name"
      :labels="labels"
      target="fooCanvas"
      />

    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetchcategories();
  },
  data() {
    return {
      categories: [],
      category: {
        name: '',
        bgColor: "#de98ab",
        borderColor: "0c0306",
        data: []
      },
      beginZero: true,
      labels: [" "],
    };
  },
  methods: {
    fetchcategories(){
        fetch('api/categories')
        .then(res => res.json())
        .then(res => {
            this.categories = res.data
        })
        .catch(err => console.log(err))
    }
  }
};
</script>