<template>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
                <th>Expenses Category</th>
                <th>Amount</th>
                <th>Entry Date</th>
                <th>Created at</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr v-for="expense in expenses" v-bind:key="expense.id">
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.updated_at }}</td>
                    <td>{{ expense.created_at }}</td>
                    <td >
                        <a
                        class="btn btn-danger btn-sm"
                        @click.prevent="deleteExpense(expense.id)">
                            <i class="fa fa-close"></i>
                        </a>
                        <a
                        class="btn btn-primary btn-sm"
                        @click="editexpense(expense)"
                        >
                            <i class="pe-7s-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button 
    type="button"
    class="btn btn-primary btn-md"
    @click="openModal()">
        New Expense 
    </button>

<!-- Modal for Add Expenses -->
    <div 
        class="modal hide"
        data-backdrop=""
        tabindex="-1"
        id="exampleModal"
        role="dialog"
        aria-labelledby="roleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleModalLabel">Add Expense</h5>
                    <!-- <h5 v-show="updateCategory" class="modal-title" id="roleModalLabel">Update Category</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <label for="Role">Category</label>
                    <select class="form-control" id="Role" v-model="newExpense.category">
                        <option v-for="category in categories" v-bind:key="category.id" >
                            {{ category.name }}
                        </option>
                    </select>

                    <label>Amount:</label>
                    <input type="text" class="form-control" v-model="newExpense.amount">

                    <label>Entry Date:</label>
                    <input type="date" class="form-control" v-model="newExpense.updated_at">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    @click="updateExpense ? updateexpense() : storeexpense()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
    </div>
</template>

<script>
export default {
    mounted() {
        this.fetchexpense();
        this.fetchcategory();
    },
    data () {
        return {
            categories: [],
            expenses: [],
            expense: {
                category: '',
                amount: '',
                updated_at: ''
            },
            category: '',
            newExpense: {
                category: '',
                amount: '',
                updated_at: '',
            },
            updateExpense: false
        }
    },
    methods: {
        openModal() {
            $('#exampleModal').modal('show');
        },
        fetchexpense() {
            fetch('api/expenses')
            .then(res => res.json())
            .then(res => {
                this.expenses = res.data
            })
            .catch(err => console.log(err))
        },
        fetchcategory() {
            fetch('api/categories')
            .then(res => res.json())
            .then(res => {
                this.categories = res.data;
            })
            .catch(err => console.log(err))
        },
        storeexpense() {
            fetch('api/expense',{
                method: 'post',
                body: JSON.stringify(this.newExpense),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchexpense();
                alert('saved!')
            })
            .catch(err => console.log(err))
        },
        editexpense(expense) {
            this.updateExpense = true;
            this.expense = expense;
            this.newExpense.category = expense.category
            this.newExpense.amount = expense.amount
            this.newExpense.updated_at = expense.updated_at
            $('#exampleModal').modal('show');
        },
        updateexpense() {
            fetch('api/expense',{
                method: 'put',
                body: JSON.stringify(this.newExpense),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchexpense();
                alert('Updated!')
            })
            .catch(err => console.log(err))
        },
        deleteExpense(id) {
            if(confirm('Are you sure you want to delete this Role?')){
                fetch(`api/expense/${id}`, {
                    method: 'delete'
                })
                .then (res => res.json())
                .then(data => {
                    alert('Deleted!')
                    this.fetchexpense();
                })
                .catch(err => console.log(err));
            }
        }
    }
}
</script>

<style>

</style>
