<template>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr v-for="category in categories" v-bind:key="category.id">
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.created_at }}</td>
                    <td >
                        <a
                        class="btn btn-danger btn-sm"
                        @click.prevent="deleteCategory(category.id)">
                            <i class="fa fa-close"></i>
                        </a>
                        <a
                        class="btn btn-primary btn-sm"
                        @click="editCategory(category)"
                        >
                            <i class="pe-7s-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button 
    type="button"
    class="btn btn-primary btn-md"
    @click="openModal()">
        New Category
    </button>

<!-- Modal for Add Role -->
    <div 
        class="modal hide"
        data-backdrop=""
        tabindex="-1"
        id="exampleModal"
        role="dialog"
        aria-labelledby="roleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-show="!updateCategory" class="modal-title" id="roleModalLabel">Add Category</h5>
                    <h5 v-show="updateCategory" class="modal-title" id="roleModalLabel">Update Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="newCategory.name">

                    <label>Description:</label>
                    <input type="text" class="form-control" v-model="newCategory.description">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    @click="updateCategory ? updatecategory() : storecategory()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
    </div>
</template>

<script>
export default {
    mounted () {
        console.log('this is from category component')
        this.fetchcategories();
    },
    data () {
        return {
            categories: [],
            category: '',
            newCategory: {
                name: '',
                description: ''
            },
            updateCategory: false
        }
    },
    methods: {
        openModal() {
            this.newCategory.id = '';
            this.newCategory.name = '';
            this.newCategory.description = '';
            this.updateCategory = false;
            $('#exampleModal').modal('show');
        },
        fetchcategories(){
            fetch('api/categories')
            .then(res => res.json())
            .then(res => {
                this.categories = res.data
            })
            .catch(err => console.log(err))
        },
        storecategory() {
            fetch('api/category', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(this.newCategory) 
            })
            .then (res => res.json())
            .then (res => {
                this.fetchcategories();
                alert('Saved!');
            })
            .catch(err => console.log(err))
        },
        editCategory(category){
            this.updateCategory = true;
            this.category = category;
            this.newCategory.id = category.id;
            this.newCategory.name = category.name;
            this.newCategory.description = category.description;
            $('#exampleModal').modal('show');
        },
        updatecategory() {
            fetch('api/category', {
                method: 'put',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(this.newCategory)
            })
            .then(res => res.json())
            .then(data => {
                this.fetchcategories();
                alert('update!')
            })
            .catch(err => console.log(err))
        },
        deleteCategory(id) {
            if(confirm('Are you sure you want to delete this Role?')){
                fetch(`api/category/${id}`, {
                    method: 'delete'
                })
                .then (res => res.json())
                .then(data => {
                    alert('Deleted!')
                    this.fetchcategories();
                })
                .catch(err => console.log(err));
            }
        }
    }
}
</script>

<style>

</style>
