<template>
    <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead>
            <th>Name</th>
            <th>Email Address</th>
            <th>Role</th>
            <th>Created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr v-for="user in users" v-bind:key="user.id">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.user_type }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a
                    class="btn btn-danger btn-sm"
                    @click.prevent="deleteRole(user.id)">
                        <i class="fa fa-close"></i>
                    </a>
                    <a
                    class="btn btn-primary btn-sm"
                    @click="editUser(user)"
                    >
                        <i class="pe-7s-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button 
    type="button"
    class="btn btn-primary btn-md"
    @click="openModal()">
        New User
    </button>

<!-- Modal for Add Role -->
    <div
        class="modal hide"
        data-backdrop=""
        tabindex="-1"
        id="exampleModal"
        role="dialog"
        aria-labelledby="UserModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-show="!updateUser" class="modal-title" id="UserModalLabel">Add User</h5>
                    <h5 v-show="updateUser" class="modal-title" id="UserModalLabel">Update User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="newUser.name">

                    <label>Email</label>
                    <input type="text" class="form-control" v-model="newUser.email">

                    <label for="Role">Role</label>
                    <select class="form-control" id="Role" v-model="newUser.user_type">
                        <option v-for="role in roles" v-bind:key="role.id" >
                            {{ role.name }}
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    @click="updateUser ? updateruser() : storeuser()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
</div>
</template>

<script>
export default {
    mounted () {
        console.log('this is from user component')
        this.fetchusers();
        this.fetchroles();
    },
    data () {
        return {
            users: [],
            roles: [],
            newUser: {
                name: '',
                email: '',
                user_type: ''

            },
            updateUser: false
        }
    },
    methods: {
        openModal() {
            this.newUser.id = '',
            this.newUser.name = '',
            this.newUser.email = ''
            this.newUser.user_type = ''
            $('#exampleModal').modal('show');
        },
        fetchusers() {
            fetch('api/users')
            .then(res => res.json())
            .then(res => {
                this.users = res.data;
            })
            .catch(err => console.log(err));
        },
        fetchroles(){
            fetch('api/roles')
            .then(res => res.json())
            .then(res => {
                this.roles = res.data;
            })
            .catch(err => console.log(err));
        },
        storeuser() {
            fetch('api/user',{
                method: 'post',
                body: JSON.stringify(this.newUser),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchusers();
                alert('saved!')
            })
            .catch(err => console.log(err))
        },
        editUser(user) {
            this.updateUser = true;
            this.user = user;
            this.newUser.id = user.id
            this.newUser.name = user.name
            this.newUser.email = user.email
            this.newUser.user_type = user.user_type
            $('#exampleModal').modal('show');
        },
        updateruser() {
            fetch('api/user',{
                method: 'put',
                body: JSON.stringify(this.newUser),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchusers();
                alert('Updated!')
            })
            .catch(err => console.log(err))
        },
        deleteRole(id) {
            if(confirm('Are you sure you want to delete this Role?')){
                fetch(`api/user/${id}`, {
                    method: 'delete'
                })
                .then (res => res.json())
                .then(data => {
                    alert('Deleted!')
                    this.fetchusers();
                })
                .catch(err => console.log(err));
            }
        } 
    }
}
</script>

<style scoped>
    .modal-backdrop {
        position: static; 
    }
</style>
