<template>
   <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr v-for="role in roles" v-bind:key="role.id">
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>{{ role.updated_at }}</td>
                <td >
                    <div v-if ="role.id === 1">
                        <a
                        class="btn btn-danger btn-sm"
                        @click.prevent="deleteRole(role.id)">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                    <a
                    class="btn btn-primary btn-sm"
                    @click="editRole(role)"
                    >
                        <i class="pe-7s-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button 
    type="button"
    class="btn btn-primary btn-md"
    @click="openModal()">
        New Role
    </button>

<!-- Modal for Add Role -->
    <div
        class="modal hide"
        data-backdrop=""
        tabindex="-1"
        id="exampleModal"
        role="dialog"
        aria-labelledby="roleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-show ="!updateRole" class="modal-title" id="roleModalLabel">Add Role</h5>
                    <h5 v-show="updateRole" class="modal-title" id="roleModalLabel">Update Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="newRole.name">

                    <label>Description:</label>
                    <input type="text" class="form-control" v-model="newRole.description">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    @click="updateRole ? updaterole() : storerole()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
  
</div> 
</template>

<script>
export default {
    mounted () {
        this.fetchrole()
        this.gettimeanddate()
        console.log('this is from user role')
    },
    data () {
        return {
            roles: [],
            role: {
                id: '',
                name: '',
                description: '',
                updated_at: ''
            },
            newRole: {
                name: '',
                description: '',
                updated_at: ''
            },
            updateRole: false,
            roleAdmin: true
        }
    },
    methods: {
        fetchrole() {
            fetch('api/roles')
            .then(res=> res.json())
            .then(res=> {
                this.roles = res.data;
            })
            .catch(err=>console.log(err));
        },
        gettimeanddate() {
            var currentdate = new Date();
            
            var todate = currentdate.getFullYear()+'-'+(currentdate.getMonth()+1)+'-'+currentdate.getDate() + ' ' +
            currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds(); 
            console.log(todate);

            this.newRole.updated_at = todate;
        },
        storerole() {
            fetch('api/role',{
                method: 'post',
                body: JSON.stringify(this.newRole),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchrole();
                alert('saved!')
            })
            .catch(err => console.log(err))

            console.log('trigger ka veh?')
        },
        editRole(role){
            this.updateRole = true;
            this.role = role;
            this.newRole.id = role.id
            this.newRole.name = role.name
            this.newRole.description = role.description
            this.newRole.updated_at = this.newRole.updated_at
            $('#exampleModal').modal('show');  
        },
        updaterole() {
            console.log('this is edit')
            fetch('api/role',{
                method: 'put',
                body: JSON.stringify(this.newRole),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                this.fetchrole();
                alert('Updated!')
            })
            .catch(err => console.log(err))
        },
        deleteRole(id) {
            if(confirm('Are you sure you want to delete this Role?')){
                fetch(`api/role/${id}`, {
                    method: 'delete'
                })
                .then (res => res.json())
                .then(data => {
                    alert('Deleted!')
                    this.fetchrole();
                })
                .catch(err => console.log(err));
            }
        },
        openModal() {
            this.newRole.id = '';
            this.newRole.name = '';
            this.newRole.description = '';
            this.newRole.updated_at = '';
            this.updateRole = false;
            $('#exampleModal').modal('show');
        }
    }
}
</script>

<style scoped>
    .modal-backdrop {
        position: static; 
    }
</style>

